{{#edit-form-container formTitle=formTitle onsubmit=(action "submitForm")}}
  {{#input-text type="number" placeholder="Введите оценку" for="inputMark" label="Оценка книги" value=bookRating isInvalid=(and isInvalid (v-get this 'bookRating' 'isInvalid'))}}
    {{#if (v-get this 'bookRating' 'isInvalid')}}
     <div class="invalid-feedback">
        {{v-get this 'bookRating' 'message'}}
      </div>
    {{/if}}
  {{/input-text}}
  {{#input-text type="text" placeholder="Введите URL презентации" for="inputPresentation" label="URL презентации" value=presentationUrl isInvalid=(and isInvalid (v-get this 'presentationUrl' 'isInvalid'))}}
    {{#if (v-get this 'presentationUrl' 'isInvalid')}}
     <div class="invalid-feedback">
        {{v-get this 'presentationUrl' 'message'}}
      </div>
    {{/if}}
  {{/input-text}}
  {{#input-text type="text" placeholder="Введите URL видео" for="inputVideo" label="URL видео" value=videoUrl isInvalid=(and isInvalid (v-get this 'videoUrl' 'isInvalid'))}}
     {{#if (v-get this 'videoUrl' 'isInvalid')}}
     <div class="invalid-feedback">
        {{v-get this 'videoUrl' 'message'}}
      </div>
    {{/if}}
  {{/input-text}}
  {{#form-row label="Книга"}}
  <div class={{if (and isInvalid (v-get this "book" 'isInvalid')) 'is-invalid'}}>
  {{#power-select searchEnabled=true options=books placeholder="Укажите книгу" searchField="name" selected=book onchange=(action (mut book)) as |book| }}
    {{book.name}}
  {{/power-select}}
     {{#if (v-get this 'book' 'isInvalid')}}
        <div class="invalid-feedback">
          {{v-get this 'book' 'message'}}
        </div>
      {{/if}}
  </div>
  {{/form-row}}
  {{#form-row label="Спикер"}}
  <div class={{if (and isInvalid (v-get this "speaker" 'isInvalid')) 'is-invalid'}}>
  {{#power-select searchEnabled=true options=speakers placeholder="Укажите спикера" searchField="fullname" selected=speaker onchange=(action (mut speaker)) as |speaker| }}
    {{speaker.fullname}}
  {{/power-select}}
      {{#if (v-get this 'speaker' 'isInvalid')}}
        <div class="invalid-feedback">
          {{v-get this 'speaker' 'message'}}
        </div>
      {{/if}}
  </div>
  {{/form-row}}
  {{#form-row label="Рецензия"}}
    {{textarea class=(concat (if (and isInvalid (v-get this 'review' 'isInvalid')) 'is-invalid' 'is-valid') ' form-control form-control-lg') rows="4" value=review placeholder="Введите рецензию"}}
      {{#if (v-get this 'review' 'isInvalid')}}
        <div class="invalid-feedback">
          {{v-get this 'review' 'message'}}
        </div>
      {{/if}}
  {{/form-row}}
  {{#form-row isWithoutLabel="true"}}
    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
    {{#link-to "meetings.edit/index" meetingId class="btn btn-outline-secondary btn-lg"}}Отмена{{/link-to}}
  {{/form-row}}
{{/edit-form-container}}