{{#edit-form-container formTitle=formTitle targetName=fullname onsubmit=(action "submitForm")}}
 {{#input-text type="text" placeholder=(t "speakers.surnamePlaceholder") for="inputSurname" label=(t "speakers.surname") value=surname isInvalid=(and isInvalid (v-get this 'surname' 'isInvalid'))}}
  {{#if (v-get this 'surname' 'isInvalid')}}
     <div class="invalid-feedback">
        {{v-get this 'surname' 'message'}}
      </div>
    {{/if}}
  {{/input-text}}
  {{#input-text type="text" placeholder=(t "speakers.namePlaceholder") for="inputName" label=(t "speakers.name") value=name isInvalid=(and isInvalid (v-get this 'name' 'isInvalid'))}}
    {{#if (v-get this 'name' 'isInvalid')}}
     <div class="invalid-feedback">
        {{v-get this 'name' 'message'}}
      </div>
    {{/if}}
  {{/input-text}}
  {{#input-text type="text" placeholder=(t "speakers.patronymicPlaceholder") for="inputPatronymic" label=(t "speakers.patronymic") value=patronymic isInvalid=(and isInvalid (v-get this 'patronymic' 'isInvalid'))}}
    {{#if (v-get this 'patronymic' 'isInvalid')}}
     <div class="invalid-feedback">
        {{v-get this 'patronymic' 'message'}}
      </div>
    {{/if}}
  {{/input-text}}
  {{#form-row isWithoutLabel="true"}}
    <button type="submit" class="btn btn-primary btn-lg">{{t "btn.save"}}</button>
    {{#link-to 'speakers.index' class="btn btn-outline-secondary btn-lg"}}{{t "btn.cancel"}}{{/link-to}}
  {{/form-row}}
{{/edit-form-container}}