{{#edit-form-container formTitle="Редактирование доклада" onsubmit=(action "saveReport")}}
  {{input-text type="number" placeholder="Введите оценку" for="inputMark" label="Оценка книги" value=model.report.bookRating}}
  {{input-text type="text" placeholder="Введите URL презентации" for="inputPresentation" label="URL презентации" value=model.report.presentationUrl}}
  {{input-text type="text" placeholder="Введите URL видео" for="inputVideo" label="URL видео" value=model.report.videoUrl}}
  {{#form-row label="Книга"}}
  {{#power-select searchEnabled=true options=model.books selected=model.report.book searchField="name" onchange=(action (mut model.report.book)) as |book| }}
    {{book.name}}
  {{/power-select}}
  {{/form-row}}
  {{#form-row label="Спикер"}}
  {{#power-select searchEnabled=true options=model.speakers selected=model.report.speaker searchField="fullname" onchange=(action (mut model.report.speaker)) as |speaker| }}
    {{speaker.fullname}}
  {{/power-select}}
  {{/form-row}}
  {{#form-row label="Рецензия"}}
    {{textarea class="form-control form-control-lg" rows="4" value=model.report.review placeholder="Введите рецензию"}}
  {{/form-row}}
  {{#form-row isWithoutLabel="true"}}
    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
    {{#link-to "meetings.edit/index" model.report.meeting.id class="btn btn-outline-secondary btn-lg"}}Отмена{{/link-to}}
  {{/form-row}}
{{/edit-form-container}}