{{#edit-form-container formTitle="Создание доклада" onsubmit=(action "saveReport")}}
  {{input-text type="number" placeholder="Введите оценку" for="inputMark" label="Оценка книги" value=bookRating}}
  {{input-text type="text" placeholder="Введите URL презентации" for="inputPresentation" label="URL презентации" value=presentationUrl}}
  {{input-text type="text" placeholder="Введите URL видео" for="inputVideo" label="URL видео" value=videoUrl}}
  {{#form-row label="Книга"}}
  {{#power-select searchEnabled=true options=model.books searchField="name" selected=book onchange=(action (mut book)) as |book| }}
    {{book.name}}
  {{/power-select}}
  {{/form-row}}
  {{#form-row label="Спикер"}}
  {{#power-select searchEnabled=true options=model.speakers searchField="fullname" selected=speaker onchange=(action (mut speaker)) as |speaker| }}
    {{speaker.fullname}}
  {{/power-select}}
  {{/form-row}}
  {{#form-row label="Рецензия"}}
    {{textarea class="form-control form-control-lg" rows="4" value=review placeholder="Введите рецензию"}}
  {{/form-row}}
  {{#form-row isWithoutLabel="true"}}
    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
    {{#link-to "meetings.edit/index" model.meeting.id class="btn btn-outline-secondary btn-lg"}}Отмена{{/link-to}}
  {{/form-row}}
{{/edit-form-container}}